/* variables */
  :root
  {
    --input-border-radius:1px;
    --input-padding:1rem;
    /* colors */
    --input-background-color:#fff;
    --input-border-color:#95989a;
    --input-placeholder-color:#95989a;
    --input-margin-bottom-label:0.28rem;
    --input-label-color: #ff2c41;
  }

/* font */
.search_bar_width
{
  width:25rem;
}
.new_password_width
{
  width: 32rem;
}
.form__input 
{
	
  display: block;
  height: 2.25rem;
  border-radius: var(--input-border-radius);
  background-color: var(--input-background-color);
  border: solid 1px var(--input-border-color);
  padding: 0 var(--input-padding) 0 var(--input-padding);
  box-sizing: border-box;
  font-family: poppins-regular;
  outline: none;
  margin-bottom: var(--input-margin-bottom-label)
}
.width
{
  width:inherit;
}
::placeholder
{
	color: var(--input-placeholder-color);
}
.input__border_error-color
{
  border-color:red;
}
.input__border_success-color
{
  border-color:blue;
}
.input__label
{
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: var(--input-label-color);
  font-family: poppins-medium;
}
.form__input_margin
{
  margin-bottom:var(--space-between-block);
}