button
{ 
  border-radius: 2px;
  background-color: #ffffff;
  border:none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  outline: none;
  box-sizing: border-box;
  padding: 0.5rem;   
}
.friendProposition-width
{
    width:2.3rem;
}

.friendProposition-height
{
    height:2rem;
    line-height: 2rem;
}
.changeProfil-width
{
    width:8.5rem;
}
.changeProfil-height
{
    height:2.25rem;
    line-height: 2.25rem;
}
.sidebar-height
{
    height: 2.3rem;
}
.sidebar-width
{
  width: 18rem;  
}
.form-width
{
  width: 7.5rem;
}
.form-height
{
  height: 2.25rem;
    line-height: 2.25rem;
}
.width
{
    width: 100%;
}
.form-title-width
{       
    width: 35rem;
 }

.form-title-height
{ 
    height: 3rem;
    line-height: 3rem;
}
.button-center
{
    text-align: center;
}
.left
{
    text-align: left;
}
.bg-aqua
{
    background-color: #1cc3ea;
}
.new_password-header-style
{
  font-size: 1.1rem;
  font-weight: 900;
  color: #000000;
}
.white
{
    color:white;
}
.gray
{
    color: rgb(200,200,200);
}
.bg-white
{
    background-color:white;
}
.aqua
{
    color:#1cc3ea;
}