.profile
{
    display: flex;
    flex-flow:column wrap;
    width: 100%;
    padding: 1rem 5rem 0rem 5rem;
    background-color:white;
}

.section1
{
    display: flex;
    flex-flow:row wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
 }
 .section1_friendProposition
 {
     width: 20%;
     height: 25rem;
 }
 .section1_col_1,.section1_col_2
 {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
 }
.section1_col_1
{
    width:75%;
    background-color:white;
    border-radius: 2px;
 
}
.section1_col_2
{
    box-sizing: border-box;
    width:20%;
    
}
.section_col_1_footer
{
    display:flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.section2
{
    display:flex;
    flex-flow: row wrap;
    width:100%;
    background:white;
    justify-content: space-between;
    
}
.section2_col_1
{
    display:flex;
    flex-flow: column wrap;
    width:20%;
    text-align: left;
    align-items: flex-start;

}
.section2_col_2{
    display:flex;
    flex-flow: column wrap;
    background-color: white;
    width:50%;
}
.section2_col_3
{
    width:20%;
}
.publication_user_name
{
    margin-left:1rem;
}
.section2_col_1_info
{
    display:flex;
    flex-flow: row wrap;
    width:100%;
    justify-content: flex-start;
}
.section2_col_2 .input_container
{
    width:90%;
    margin:auto;
}
.publication_header
{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width:100%;
}
.publication_content
{
    margin-bottom: 1rem;
}
.publication_footer
{
    width: 100%;
    text-align: left;
}
.publication_footer span
{
    margin-right:1rem;
}
.publication_searchBar
{
    background-color:white;
    width:100%;
    box-sizing: border-box;
    margin-bottom:1rem;
    border-radius: 2px;
    padding:0.3rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
}