.new_password_label
{
    font-size:0.75rem;
    color:black;
}
.margin-bottom
{
    margin-bottom: 1rem;
}
.new_password,.center
{
    display: flex;
    flex-flow: column wrap;
}
.center
{
    padding: 0rem 0.8rem 0rem 0.8rem;
    align-items: flex-start;
}
.new_password_button_right
{
    align-self: flex-end;
      
}